html {
  box-sizing: border-box;
  display: block;
  background-color: white;
  color: black;
}

*, *:before, *:after {
  /*box-sizing: inherit;*/
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  background-color: white;
  color: black;
}

div {
  display: block;
}

@font-face {
  font-family: 'E_motion';
  src: url('E_motionGX.ttf') format('truetype-variations');
  font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg;
  font-weight: 100 900;
}

:root {
  --text-SAJO: 0;
  --text-DITR: 0;
  --text-ANFE: 0;
  --text-ANSU: 0;
}

.buttonVariable {
  position: absolute;
  bottom: 8rem;
  right: 1rem;
}

.btn {
  font-family: "E_motion", sans-serif;
  border: 0.2px solid rgb(0,0,0,0.5);
  outline: none;
  padding: .35rem .35rem .45rem .35rem;
  /*padding: .35rem .35rem .45rem .35rem;*/
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1rem;
  opacity: 1;
  text-align: center;
  text-decoration:none;
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  display: block;
  background-color: white;
  color: black;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover, .btn:active {
  background-color: black;
  color: white;
}

.container {
  font-family: "E_motion", sans-serif;
  text-align: center;
  background-color: white;
  color: black;
}

.container-specimen {
  font-family: "E_motion", sans-serif;
  display: grid;
  margin-right: 1rem;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 1rem;
}

/*.container-text {
  font-family: "E_motion", sans-serif;
  display: grid;
  grid-template-columns: 9fr 3fr;
  background-color: white;
  color: black;
}*/

.demo-text {
  font-family: "E_motion", sans-serif;

  /*font-size: "font-size";*/
  font-size: 10rem;
  font-SAJO: var(--text-SAJO);
  font-ANFE: var(--text-ANFE);
  font-DITR: var(--text-DITR);
  font-ANSU: var(--text-ANSU);
  font-variation-settings: "SAJO" var(--text-SAJO), "DITR" var(--text-DITR), "ANFE" var(--text-ANFE), "ANSU" var(--text-ANSU);

  background-color: white;
  color: black;

  z-index:-1;
}

.about-text {
  font-family: "E_motion", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  border: none;
  outline: none;
  user-select: none;

  /*font-size: "font-size";*/
  font-size: 2rem;
  font-SAJO: var(--text-SAJO);
  font-ANFE: var(--text-ANFE);
  font-DITR: var(--text-DITR);
  font-ANSU: var(--text-ANSU);
  font-variation-settings: "SAJO" 0, "DITR" 0, "ANFE" 0, "ANSU" 0;
  
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: left;
  background-color: white;
  color: black;

  z-index:-1;
}

.Text {
  font-family: "E_motion", sans-serif;
  margin-top: 0rem;
  margin-left: 1rem;
  padding-left: 1.5rem;
  margin-right: 1rem;;
  padding-right: 1.5rem;;
  padding-bottom: 1.5rem;;
  text-align: center;
  font-size: 2rem;
  background-color: white;
  color: black;
  text-align: center;
  border: 0.2px solid rgb(0,0,0,0.5);
  border-radius: 20px;
  padding-top: 1rem;

  /*border: none;*/
  outline: none;
}

.Style {
  font-family: "E_motion", sans-serif;
  margin-top: 0;
  text-align: center;
  background-color: white;
  color: black;
}

.Thanks-text {
  font-family: "E_motion", sans-serif;
  /*padding-top: 2rem;*/
  margin-left: 1rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 1rem;
  background-color: white;
  color: black;
}

.controls {
}

.output {
  font-size: 0.95em;
  font-style: normal;
  font-weight: 400;
}

.slider-container {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  padding: 0rem 0rem 0rem 1.5rem;
  background-color: white;
  /*color: black;*/
} 

.slider-controls {
  font-family: "E_motion", sans-serif;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  background-color: white;
  /*color: black;*/
}

.slider-label {
  font-size: 0.95em;
  margin-right: 2.25vw;
  color: black;
  text-align: right;
  font-style: normal;
  font-weight: 650;
  background-color: white;
  color: black;
}

.slider-label-right {
  font-size: 0.95em;
  margin-right: 2.25vw;
  color: black;
  text-align: right;
  font-style: normal;
  font-weight: 650;
  background-color: white;
  color: black;
}

.slider-label-left {
  font-size: 0.95em;
  text-align: left;
  font-style: normal;
  font-weight: 650;
  background-color: white;
  color: black;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 0.2px;
  opacity: 1;
  border-radius: .25rem;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
  background-color: black;
  /*color: black;*/
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(0,0,0,1);
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: black;
}

.slider::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

.slider::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.topnav {
  overflow: hidden;
  background-color: white;
  padding: 1rem .25rem .35rem .25rem;
  font-family: "E_motion", sans-serif;
  margin-left: 1rem;
  font-size: 0.95rem;
}

.nav {
  overflow: hidden;
  background-color: white;
  padding: 1rem .25rem .35rem .25rem;
  font-family: "E_motion", sans-serif;
  margin-left: 1rem;
  font-size: 0.95rem;
}

.language {
  overflow: hidden;
  background-color: white;
  padding: 1rem .25rem .35rem .25rem;
  font-family: "E_motion", sans-serif;
  margin-left: 1rem;
  font-size: 0.95rem;
}

.topnav a {
  font-family: "E_motion", sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*padding: 1em 1em;*/
  text-decoration: none;
  font-size: 0.95em;
  border: 0.2px solid rgb(0, 0, 0, 0.5);
  width: 6rem;
  height: 2rem;

  margin-right: 1rem;
  padding: .35rem .35rem .45rem .35rem;
  border-radius: 4px;
}

.topnav a:hover {
  color: white;
  background-color: black;
}

.nav a {
  font-family: "E_motion", sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*padding: 1em 1em;*/
  text-decoration: none;
  font-size: 0.95em;
  border: 0.2px solid rgb(0, 0, 0, 0.5);
  width: 6rem;
  height: 2rem;

  margin-right: 1rem;
  padding: .35rem .35rem .45rem .35rem;
  border-radius: 4px;
}

.nav a:hover {
  background-color: black;
  color: white;
}

.attached a {
  float: left;
  color: black;
  font-family: "E_motion", sans-serif;
  border: 1px solid black;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  opacity: 1;
  padding: .35rem .35rem .45rem .35rem;
  text-align: center;
  outline: none;
  text-decoration:none;
  width: 5.8rem;
  background-color: white;
  color: black;
}

.language a {
  font-family: "E_motion", sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*padding: 1em 1em;*/
  text-decoration: none;
  font-size: 0.95em;
  border: 0.2px solid rgb(0, 0, 0, 0.5);
  width: 6rem;
  height: 2rem;

  margin-right: 1rem;
  padding: .35rem .35rem .45rem .35rem;
  border-radius: 4px;
}

.language a:hover {
  background-color: black;
  color: white;
}

.attached a.active {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.language a.active {
  background-color: black;
  color: white;
}

.topnav-right {
  float: right;
  background-color: white;
  color: black;
}

.attached-right {
  float: right;
  background-color: white;
  color: black;
}

.language-right {
  float: right;
  background-color: white;
  color: black;
}

/*.textarea {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}*/

.button {
  width: 30px;
  height: 30px;
  display: block;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  bottom: 20px; 
  margin-left: 40px;
  margin-top: 6px;
  transition: 0.1s;
  background: black;
}

.button:hover {
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  display: block;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  bottom: 20px; 
  margin-left: 40px;
  margin-top: 6px;
  transition: 0.1s;
}

.button-invert {
  width: 30px;
  height: 30px;
  background: white;
  display: block;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  bottom: 20px; 
  margin-left: 40px;
  margin-top: 6px;
  transition: 0.1s;
}

.button-invert:focus {
  outline: none!important;
}

.attivo {
  background: white;
  color: black;
}

